.App .row {
  max-width: 100%;
}
.App .row .col-md-3 .card .name img{
    width: 10px;
    height: 10px;
}
.App .row .col-md-3 .card ul{
    padding: 0 10px;
}
.App .row .col-md-3 .card ul li{
    padding: 5px;
    background-color: #fcf8fc;
    border-radius: 3px;
    margin-bottom: 2px;
    width: 289px;
    height: 34px;
}


